* {
    margin: 0;
    padding: 0;
    top: 0;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1CB2CD;   
    height: 1600px; 
}

#box h1 {
    position: relative;
    font-family: 'Bungee', cursive;
    letter-spacing: 10px;
    color: #1CB2CD;
    text-align: center;
    top: 10px;
    left: 5px;
    
    
}
/* 550 */
#box {
    margin: auto;
    background-color: white;
    height: 400px;
    width: 550px;
    border-radius: 60px;
    left: 377px;
    margin-top: 25px;
    box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.2);
}

#linha {
    position: relative;
    display: inline-block;
    height: 5px;
    width: 450px;
    background-color:  #1CB2CD;
    left:50px;
    top: 0px;
    border-radius: 80px;
}

#peso_input {
    position: relative;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    outline: none;
    height: 30px;
    width: 120px;
    left: 20px;
    top: -2px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

#peso {
    position: relative;
    height: 35px;
    border: solid 3px #1CB2CD ;
    width: 200px;
    left: 50px;
    top: 80px;
    border-radius: 15px;
}

#peso_label {
    position: relative;
    font-family: 'Bungee', cursive;
    font-size: 15pt;
    left: 50px;
    top: -10px;
}

#peso_icon {
    position: relative;
    top: 5px;
    left: 8px;
    height: 25px;
}



/* =================================================================== */

#alt_input {
    position: relative;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    outline: none;
    height: 30px;
    width: 120px;
    left: 20px;
    top: -2px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

#alt {
    position: relative;
    height: 35px;
    border: solid 3px #1CB2CD ;
    width: 200px;
    left: 50px;
    top: 80px;
    border-radius: 15px;
}

#alt_label {
    position: relative;
    font-family: 'Bungee', cursive;
    font-size: 15pt;
    left: 50px;
    top: -10px;
}

#alt_icon {
    position: relative;
    top: 5px;
    left: 8px;
    height: 25px;
}

#alt_mov {
    position: relative;
    margin-top: 30px;
}



#bttn_sub {
    position: relative;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    outline: none;
    height: 150px;
    width: 200px;
    background-color: #1CB2CD;
    top: -128px;
    left: 300px;
    border-radius: 40px;
    font-family: 'Bungee', cursive;
    color: white;
    font-size: 20pt;
    box-shadow: 6px 6px 1px rgba(0, 0, 0, 0.3);
}

#bttn_sub:active {
    box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.05);
    transition: 100ms;
}
#bttn_sub:hover {
    background-color: #1196AE;
    
    transition: 300ms;
}

#bttn_sub:not( :hover ){ 
    
    transition: 300ms;
}






#peso_input:focus {
    background-color: rgba(28, 178,205, 0.2);
    transition: 300ms;
}

#alt_input:focus {
    background-color: rgba(28, 178,205, 0.2);
    transition: 300ms;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#met {
    font-size: 10pt;
}


#result_box {
    position: relative;
    background-color: white;
    height: 130px;
    width: 550px;
    top: -30px;
    border-radius: 30px;
    color: white;
    font-family: 'Bungee';
    margin: auto;
    box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.2);
    
}

#result_box p {
    color: #1CB2CD;
    text-align: center;
}

#result_sta {
    font-size: 25pt;
    margin-bottom: 0;
}

#result_imc {
    position: relative;
    font-size: 15pt;
    top: -15px;
}


#arrow {
    height: 50px;
    
}

#arrow:hover {
    background-color: rgba(3, 141,165, 0.5);
    transition: 500ms;
    border-radius: 10px;
}

#arrow:not( :hover ){ 
    
    transition: 300ms;
}

#arrow_mov {
    position: relative;
    text-align: center;
    margin-top: 180px;
}

#fonte {
    position: relative;
    text-align: center;
    top: 100px;

    color: white;
}

#fonte h1{
    color: white;
    font-family: 'Bungee';
    font-size: 70pt;
    text-shadow: 5px 5px 0.5px rgba(0, 0, 0, 0.3);
    
   
}

#linha_tit{
    position: relative;
    background-color: white;
    width: 300px;
    top: -50px;
    margin: auto;
    height: 5px;
    border-radius: 15px;
}

#fonte h2 {
    position: relative;
    color: white;
    font-family: 'Arial';
    top: -30px;
    font-size: 15pt;
}

.info {
    position: relative;
    text-align: center;
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    margin-top: 20px;
}

footer {
    position:relative;
    background-color: white;
    height: 100px;
    margin-top: 300px;
    box-shadow: 0px -4px 0.5px rgba(0, 0, 0, 0.2);
}

#fonte_info {
    position: relative;
    text-align: center;
    width: 800px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: 13pt;
    top: 15px;
}

#form_lang {
    position: relative;
    text-align: center;
    top: 250px;
    margin: 10px;
}

#form_lang h1{
    position: relative;
    color: white;
    font-family: 'Bungee';
    left: 10px;
    top: 10px;
}



.link {
    position: relative;
    height: 50px;
}

.img_count {
    position: relative;
    height: 50px;
    left: 10px;
    margin: 25px;
    margin-bottom: 10px;
}
